.bg-light{
  background: url('../../../assets/background/floor-tile.png')
}
.nav{
  border-right:2px solid black;
  background: white;
}
.nav-link{
  font-size: 16pt;
  padding:14px 20px;
  height: 100%;
}
.nav-link:hover{
  background: #f0ad4e;
}


