<div class="main-nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Wettawn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link" href="/account">Account <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addtravel">New Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/travel">Current Travel</a>
        </li>
      </ul>
    </div>
    <p-search></p-search>
  </nav>
  <main>
    <router-outlet>

    </router-outlet>
  </main>
</div>