h2{
  padding:20px;
}
.title{
  p{
    padding:1rem;
    margin:0;
  }
}
.card{
  padding:5px 0;
}
ul{
  width: 60%;
}
span{
  margin:0 5px;
}
li{
  margin: 5px 0;
  box-sizing: content-box;
  border: 5px solid rgba(0,0,0,0);
}
li:hover{
    box-sizing: content-box;
    border: 5px solid rgba(0,0,0,0.125);
}
.card-body{
  align-items: flex-start;
}

.image{
  width: 40%;
  margin: 10px;
  p{
    text-align: center;
  }
}
img{
  border: 5px solid rgba(0,0,0,0.125);
  width: 100%;
}