h2{
  padding:5px 20px;
}
form{
  background: white;
  padding: 10px 0;
  border: 1px solid rgba(0,0,0,0.125);
  font-size:1.2rem;
}
.row{
  background: url('../../../assets/background/floor-tile.png');
  margin: 25px 0;
}
label{
  padding: 13px 5px;
}
.col-sm-10{
  padding:0;
  border: 1px solid rgba(0,0,0,0.125);
}
input{
  height:100%;
}